
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OFFICE 云物品</title>

    <link rel="stylesheet" href="my/bootstrap.min.css">
    <link rel="stylesheet" href="my/mystyle.css">
    <script src="my/jquery-3.1.1.min.js"></script>
    <script src="my/vue.js"></script>
    <script src="my/bootstrap.min.js"></script>
    <script src="my/axios.min.js"></script>
    <!---<link rel="shortcut icon" href="pic/officeicon.ico">  -->
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row">
        <div class="col-md-10">
            <p class="navbar-text" style="font-family: Microsoft YaHei;font-size: 18px">OFFICE 云管理</p>
        </div>
        <div id="user" class="col-md-2" style="padding-top: 4.5px">
            <div class="btn-group">
                <img src="pic/user_icon.png" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="navbar-text" style="font-family: Microsoft YaHei;font-size: 15px">{{ user_truename }}</p>
                <ul class="dropdown-menu">
                    <li><img src="pic/user2_icon.png"></li>
                    <li style="color: #8a8a8a">{{ user_truename }}</li>
                    <li style="color: #8a8a8a">{{ user_name }}</li>
                    <li role="separator" class="divider"></li>
                    <li><a data-toggle="modal" data-target="#userInfo">个人详情</a></li>
                    <li><a href="http://localhost:8080/loginout">注销</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<body style="padding-top: 55px;">
<div id="fun_show" class="left-nav">
    <div class="list-group">
        <a href="#" class="list-group-item list-item-active">物品分类</a>
        <a href="#" class="list-group-item" v-show="user_authority >= 3">管理物品</a>
        <a href="#" class="list-group-item" v-show="user_authority >= 7">用户管理</a>
        <a href="#" class="list-group-item" v-show="user_authority >= 3">申请审核</a>
        <a href="#" class="list-group-item">申请记录</a>
        <a href="#" class="list-group-item">借入记录</a>
        <a href="#" class="list-group-item">归还记录</a>
        <a href="#" class="list-group-item">使用统计</a>

    </div>
</div>
<div class="rigth-nav">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">用户管理</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>部门</th>
                        <th>邮箱</th>
                        <th>电话</th>
                        <th>职能</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>PC企业</td>
                        <td>mark@office.com</td>
                        <td>1324566666</td>
                        <td>员工</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>PC企业</td>
                        <td>jacob@office.com</td>
                        <td>1324566666</td>
                        <td>员工</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>PC企业</td>
                        <td>larry@office.com</td>
                        <td>1324566666</td>
                        <td>财务</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- 个人信息Modal框   用户个人信息查看和修改-->
<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="row">
              <div class="col-md-12" style="text-align: center">
                  <img src="pic/user2_icon.png">
              </div>
          <div class="row">
              <div class="col-md-12" style="text-align: center">
                  <p style="font-family: Microsoft YaHei;font-size: 15px">{{ userdata.user_truename }}</p>
              </div>
          </div>
          </div>
      </div>
      <div class="modal-body">
        <div class="row" style="height:40px" v-if="userN_display">
          <div class="col-md-8"><label>姓  名：</label><span>{{ userdata.user_truename }}</span></div>
          <div class="col-md-4" style="text-align: center">
            <button type="button" class="btn btn-info btn-xs" @click="openChangeN">修改</button>
          </div>
        </div>
        <div class="row" style="height:40px" v-else><!-- 点击修改以后出现的修改页面 -->
          <div class="col-md-2">
            <label>姓  名：</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control input-sm" style="width:150px;height:27px" v-modal="userInfo_change_name">
          </div>
          <div class="col-md-4" style="text-align: center">
            <button type="button" class="btn btn-default btn-xs" @click="cancelChangeN">取消</button>&nbsp&nbsp
            <button type="button" class="btn btn-primary btn-xs" @click="changeUserName">确认</button>
          </div>
        </div>
        
        
        <div class="row" style="height:40px" v-if="userP_display">
          <div class="col-md-8"><label>电  话：</label><span>{{ userdata.user_phone }}</span></div>
          <div class="col-md-4" style="text-align: center">
            <button type="button" class="btn btn-info btn-xs" @click="openChangeP">修改</button>
          </div>
        </div>
        <div class="row" style="height:40px" v-else><!-- 点击修改以后出现的修改页面 -->
          <div class="col-md-2">
            <label>电  话：</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control input-sm" style="width:150px;height:27px" v-modal="userInfo_change_phone">
          </div>
          <div class="col-md-4" style="text-align: center">
            <button type="button" class="btn btn-default btn-xs" @click="cancelChangeP">取消</button>&nbsp&nbsp
            <button type="button" class="btn btn-primary btn-xs" @click="changeUserPhone">确认</button>
          </div>
        </div>
        
        <div class="row" style="height:40px"><!-- user_name就是用户登录用的邮箱，这个命名有点不恰当，但是因为历史原因改起来好麻烦就不改了 T_T -->
          <div class="col-md-8"><label>邮  箱：</label><span>{{ userdata.user_name }}</span></div>      
        </div>
        <div class="row" style="height:40px">
          <div class="col-md-8"><label>所 属 部 门：</label><span>{{ userdata.user_department }}</span></div>
        </div>
        <div class="row" style="height:40px"><!-- 也就是用户的权限 --> 
          <div class="col-md-8"><label>职  能：</label><span>{{ userdata.user_position }}</span></div>
        </div>

      </div>
      
      
    <div class="modal-body">
      <div class="row" v-if="user_pwd_change">
        <div class="col-md-12" style="text-align: center">
          <a @click="openPwdChange">更改密码</a>
        </div>
      </div>
      <div v-else><!-- 点击更改密码以后出现的修改页面 -->
        <div class="row">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">原密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" style="width:255px" placeholder="" v-modal="userInfo_change_old_pwd">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" style="width:255px" placeholder="6-16位，大小写字母和数字组合" v-modal="userInfo_change_new_pwd">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" style="width:255px" placeholder="" v-modal="userInfo_change_sure_pwd">
              </div>
            </div>
            
            
            <div class="form-group">
              <div class="col-sm-12" style="text-align: center">
                <button type="button" class="btn btn-default" @click="cancelChangePwd">取消</button>
                <button type="button" class="btn btn-primary" @click="changeUserPwd">确认</button>
              </div>
            </div>
          </form>
        </div>
      </div>     
    </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="turnoff">关闭</button>
<!--         <button type="button" class="btn btn-primary">保存</button> -->
      </div>
    </div>
  </div>
</div>


</body>
<script>
    $('.list-group-item').click(function () {
        $(this).siblings('.list-group-item').removeClass('list-item-active');
        $(this).addClass('list-item-active');
    })
/* 用户信息数据  */
    var userdata = {
        user_name:'',
        user_truename:'',
        user_department:'',
        user_phone:'',
        user_authority:'',
        user_position:'',
        show_7:false,
        show_3:false,
    }
    

/* vue获取数据 */
    var user_Info = new Vue({
        el:'#user',
        data:userdata,
        created:function(){
            var url = "http://localhost:8080/userInfo";
            var self = this;
            axios.get(url).then(function(response){
                var result = response.data;
                self.user_truename = result.user_truename;
                self.user_name = result.user_name;
                self.user_department = result.user_department;
                self.user_phone = result.user_phone;
                self.user_authority = result.user_authority;
                if(result.user_authority == 1){
                    self.user_position = "普通员工";
                }else if(result.user_authority == 3){
                    self.user_position = "财务人员";
                }else{
                    self.user_position = "管理员";
                }
                
            })
            
        },
        methods:{
            userLoginout:function(){
                axios.get("http://localhost:8080/loginout").then()
            }
        },
    })
    
 /* 左侧功能栏根据用户权限显示相对应的功能模块 */
    var modalShow = new Vue({
        el:'#fun_show',
        data:userdata,
        
    })
    
 /* modal框的数据流，数据展示和数据修改 */
   var modalData = new Vue({
        el:'#userInfo',
        data:{
            userdata,
            userInfo_change_name:'',
            userInfo_change_phone:'',
            userInfo_change_old_pwd:'',
            userInfo_change_new_pwd:'',
            userInfo_change_sure_pwd:'',
            userN_display:true,
            userP_display:true,
            user_pwd_change:true,
        },
        methods:{
            /* 取消修改姓名 */
            cancelChangeN:function(){
              var self = this;
              self.userN_display = true;
            },
            /* 取消修改电话 */
            cancelChangeP:function(){
              var self = this;
              self.userP_display = true;
            },
            /* 取消修改密码 */
            cancelChangePwd:function(){
              var self = this;
              self.user_pwd_change = true;
            },
            /* 打开修改姓名 */
            openChangeN:function(){
              var self = this;
              self.userN_display = false;
            },
            /* 打开修改电话 */
            openChangeP:function(){
              var self = this;
              self.userP_display = false;
            },
            /* 打开修改电话 */
            openPwdChange:function(){
              var self = this;
              self.user_pwd_change = false;
            },
            /* 取消修改所有（关闭modal框） */
            turnoff:function(){
              var self = this;
              self.userN_display = true;
              self.userP_display = true;
              self.user_pwd_change = true;
            },
            /* 用户姓名修改 */
            changeUserName:function(){
              var url = 'http://localhost:8080/changeUserName';
              var self = this;
              axios.post(url,this.userInfo_change_name).then(function (response) {
				    var result = response.data;
				    
                }).catch(function(reason) {
                    
                })
            },
            /* 用户电话修改 */
            changeUserPhone:function(){
              var url = '';
              var self = this;
              axios.post(url,this.userInfo_change_phone).then(function (response) {
				    var result = response.data;
				    
                }).catch(function(reason) {
                    
                })
            },
            /* 用户密码修改 */
            changeUserPwd:function(){
              var url = '';
              var self = this;
              axios.post(url,this.userInfo_change_name).then(function (response) {
				    var result = response.data;
				    
                }).catch(function(reason) {
                    
                })
            }
        }
   })
 
</script>
</html>