
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OFFICE 云物品</title>

    <link rel="stylesheet" href="my/bootstrap.min.css">
    <link rel="stylesheet" href="my/mystyle.css">
    <script src="my/jquery-3.1.1.min.js"></script>
    <script src="my/vue.js"></script>
    <script src="my/bootstrap.min.js"></script>
    <script src="my/axios.min.js"></script>
    <!---<link rel="shortcut icon" href="pic/officeicon.ico">  -->
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row">
        <div class="col-md-10">
            <p class="navbar-text" style="font-family: Microsoft YaHei;font-size: 18px">OFFICE 云管理</p>
        </div>
        <div id="user" class="col-md-2" style="padding-top: 4.5px">
            <div class="btn-group">
                <img src="pic/user_icon.png" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="navbar-text" style="font-family: Microsoft YaHei;font-size: 15px">{{ user_truename }}</p>
                <ul class="dropdown-menu">
                    <li><img src="pic/user2_icon.png"></li>
                    <li style="color: #8a8a8a">{{ user_truename }}</li>
                    <li style="color: #8a8a8a">{{ user_name }}</li>
                    <li role="separator" class="divider"></li>
                    <li><a data-toggle="modal" data-target="#userInfo">个人详情</a></li>
                    <li><a href="http://localhost:8080/loginout">注销</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<body style="padding-top: 55px;">

<div id="fun_show_left" class="left-nav">
    <div class="list-group">
        <a href="#" class="list-group-item " :class="{ 'list-item-active':modalShowData.m_officelist }" @click="officeListOpen">物品列表</a>
        <a href="#" class="list-group-item" v-show="userdata.user_authority >= 3" :class="{ 'list-item-active':modalShowData.m_officeInfo }">管理物品</a>
        <a href="#" class="list-group-item" v-show="userdata.user_authority >= 7" :class="{ 'list-item-active':modalShowData.m_userInfo }" @click="userInfoOpen">用户管理</a>
        <a href="#" class="list-group-item" v-show="userdata.user_authority >= 3" :class="{ 'list-item-active':modalShowData.m_applyCheck }">申请审核</a>
        <a href="#" class="list-group-item" :class="{ 'list-item-active':modalShowData.m_applylist }">申请记录</a>
        <a href="#" class="list-group-item" :class="{ 'list-item-active':modalShowData.m_borrowlist }">借入记录</a>
        <a href="#" class="list-group-item" :class="{ 'list-item-active':modalShowData.m_returnlist }">归还记录</a>
        <a href="#" class="list-group-item" :class="{ 'list-item-active':modalShowData.m_usedata }">使用统计</a>

    </div>
</div>

<div id="fun_show_right" class="rigth-nav">
    <div class="container">
        <!--用户管理模块（用户查询、修改、删除、添加）-->
        <div th:include="manage_userInfo :: m_userInfo" v-if="modalShowData.m_userInfo"></div>

        <div th:include="manage_officelist :: officelist" v-if="modalShowData.m_officelist"></div>
    </div>
</div>

<!-- 个人信息Modal框   用户个人信息查看和修改-->
<div th:include="modal :: userModal"></div>

<!-- 添加用户用modal框 -->
<div th:include="modal :: addUserModal"></div>

<!-- 用户信息修改用modal框 -->
<div th:include="modal :: userChangeModal"></div>

</body>
<script src="my/manage_userInfo.js"></script>
<script>
/*    $('.list-group-item').click(function () {
        $(this).siblings('.list-group-item').removeClass('list-item-active');
        $(this).addClass('list-item-active');
    });*/

  var modalShowRight = new Vue ({
      el:'#fun_show_right',
      data:{
          modalShowData,
      }
  })


</script>

</html>